{% extends "base.html" %}

{% block head_append %}
{{ form.media }}
{% endblock %}

{% block events %}
<h2>Create a new event</h2>
<form action="{% url events.views.add %}" method="POST">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<fieldset>
	{% for field in form %}
	<div class="form-row">
		{{ field.label_tag }}
		{{ field.errors }}
		{{ field }}
		{% if field.help_text %}
		<p class="help-text">{{ field.help_text }}</p>
		{% endif %}
	</div>
	{% endfor %}
	</fieldset>
	<input type="submit" value="Submit" />
</form>
<p class="back_button">
	<a href="/">Back</a>
</p>
<script type="text/javascript">
$('#id_slug').data('dependency_list', ['name'])
             .prepopulate(['#id_name'], $('#id_slug').prop('maxlength'));
$('#id_name').keyup(function() { $('#id_slug').keyup(); });
$('#id_slug').keyup(
	function() {
		$.ajax('{% url events.views.slug_available %}',
			{
				'success': function(data, status, jqxhr) {
					$('#id_slug').css('color', 'green');
				},
				'error': function(jqxhr, status) {
					$('#id_slug').css('color', 'red');
				},
				'data': {'slug': this.value }
	   		}
		)
	}
);
</script>
{% endblock %}
