{% extends "base.html" %}
{% block events %}
{% if latest_events %}
	<h2>Latest Events</h2>
	<ul>
	{% for event in latest_events %}
	<li><a href="{% url events.views.detail event.slug %}">{{ event.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if my_events %}
	<h2>My Events</h2>
	<ul>
	{% for event in my_events %}
	<li><a href="{% url events.views.detail event.slug %}">{{ event.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if user.is_staff %}
	<h2>Admin</h2>
	<p>
		<a href="{% url events.views.add %}">Add new event</a>
	</p>
{% endif %}

{% endblock %}

