{% extends "base.html" %}
{% load humanize %}
{% block events %}

<h2>Upcoming events</h2>
<div id="future-events">
{% if future_events %}
<script>
	$(function() {
		$( "#future-events" ).accordion({
			autoHeight: false,
			navigation: true
		});
	});
</script>
{% regroup future_events by category as categories %}
{% for category in categories %}
<h3 class="category-heading"><a href="#{{ category.grouper|slugify }}">{{ category.grouper }}</a></h3>
	<div>
		<ol class="event-list">
		{% for event in category.list %}
		<li class="event">
			<div class="name-column">
				<a href="{% url events.views.detail event.slug %}">{{ event.name }}</a>
			</div>
			<div class="time-column">
				{{ event.start_time }}
			</div>
		</li>
		{% endfor %}
		</ol>
	</div>
{% endfor %}
{% else %}
<p>There are currently no future events on the Facebook App. Note not all sub aqua events are listed on the app, there may be events on the Google calendar page or Facebook events.</p>
{% endif %}
</div>

{% if user.is_staff %}
	<h2>Admin</h2>
	<p>
		<a href="{% url events.views.add %}">Add new event</a>
	</p>
	<p>
		<a href="/admin/">Full admin site</a>
	</p>
{% endif %}
{% endblock %}

