/*
  title: base css
*/

html {
  width: 100%;
}

body {
  color: #456097;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 520px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #aab;
  border-bottom-width: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
/*  -moz-box-shadow: 1px 1px #555;
  -webkit-box-shadow: 1px 1px #555;
  box-shadow: 1px 1px #555;
  */

}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: MisoRegular, Helvetica, Arial, sans-serif;
  font-size: 38px;
  letter-spacing: -1px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 0 auto;
  font-size: 20px;
  color: #336;
  padding: 25px 0px 18px;
  text-align: center;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ol.event-list {
  margin: 0;
  padding: 0;
}


li {
  line-height: 24px;
  font-size: 13px;
  list-style: none;
  display: list-item;
}

li.event {
  height: 26px;
  margin: 0 0 -1px 0;
  border-width: 1px 0;
  border-color: #ccc;
  border-style: solid;
  position: relative;
}
ol.event-list li.event div {
  display: block;
  float: left;
}

ol.event-list .event .name-column {
  width: 66%;
}

ol.event-list .event .time-column {
  width: 33%;
}

dd {
  color: #203358;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  /*border-bottom: 1px solid #111111;
   * */
  padding: 0px;
}

header h1 {
	display: none;
  border-bottom: 1px solid #e9e9e9;
  margin: 0px;
  padding: 20px 0px;
}



/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/* ------------------------------------------ */

/* =Django stuff
--------------------------------------------- */
.errorlist {
  color: #ff5b55;
}

input, label {
  display: block;
}

input :active {
  outline: none;
}

textarea, input {
	-webkit-border-radius: 5px;
	border: 1px solid #A6C9E2;

}
